{
    "auth": {
        "identity": {
            "methods": [
{% if totp is defined %}  
                "password","totp"
            ],
{% else %}  
                "password"
            ],
{% endif %}  
            "password": {
                "user": {
                    "name": "{{ USERNAME }}",
                    "password": "{{ PASSWORD }}",
                    "domain": {
                        "name": "{{ DOMAIN }}"
                    }
                }
{% if totp is defined %}  
            },
            "totp": {
                "user": {
                    "id": "{{ userid }}",
                    "passcode": "{{ totp }}"
                 }
            }
{% else %}  
            }
{% endif %}  
        },
        "scope": {
            "project": {
                "name": "{{ PROJECT_NAME }}"
            }
        }
    }
}
