{
    "server": {
        "availability_zone": "{{ availability_zone }}",
        "name": "{{ ecs_name }}",
        "imageRef": "{{ image_id }}",
        "root_volume": {
{% if ecs_volumesize is defined and ecs_volumesize|length != 0 %}  
            "size": "{{ ecs_volumesize }}",
{% endif %}  
            "volumetype": "{{ ecs_volumetype }}"
        },
        "flavorRef": "{{ flavor_id }}",
        "vpcid": "{{ vpc_id }}",
        "security_groups": [
{% for secgroup_id in secgroup_ids %}  
            {
                "id": "{{ secgroup_id }}"
            },
{% endfor %}  
        ],
        "nics": [
            {
{% if ecs_ipaddress is defined and ecs_ipaddress|length != 0 %}  
                "ip_address": "{{ ecs_ipaddress }}",
{% endif %}  
                "subnet_id": "{{ subnet_id }}"
            }
        ],
{% if eip_id is defined %}  
        "publicip": {
            "id": "{{ eip_id }}"
        },
{% endif %}  
{% if ecs_fileinject_1 is defined %}  
        "personality": [
            {
                "path": "{{ ecs_fileinject_1 }}",
                "contents":  "{{ ecs_fileinject_data_1 }}"
            }
{% if ecs_fileinject_2 is defined %}  
            ,{
                "path": "{{ ecs_fileinject_2 }}",
                "contents":  "{{ ecs_fileinject_data_2 }}"
            }
{% endif %}  
{% if ecs_fileinject_3 is defined %}  
            ,{
                "path": "{{ ecs_fileinject_3 }}",
                "contents":  "{{ ecs_fileinject_data_3 }}"
            }
{% endif %}  
{% if ecs_fileinject_4 is defined %}  
            ,{
                "path": "{{ ecs_fileinject_4 }}",
                "contents":  "{{ ecs_fileinject_data_4 }}"
            }
{% endif %}  
{% if ecs_fileinject_5 is defined %}  
            ,{
                "path": "{{ ecs_fileinject_5 }}",
                "contents":  "{{ ecs_fileinject_data_5 }}"
            }
{% endif %}  
        ],
{% endif %}  
{% if ecs_user_data is defined %}  
        "user_data": "{{ ecs_user_data }}",
{% endif %}  
{% if ecs_adminpass is defined %}  
        "adminPass": "{{ ecs_adminpass }}",
{% endif %}  
{% if ecs_adminkey is defined %}  
        "key_name": "{{ ecs_adminkey }}",
        "adminPass": "",
{% endif %}  
        "count": 1,
        "},": {
            "__vnc_keymap": "de"
        }
   }
}
